* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-image:
        linear-gradient(black, black),
        url("EC_1406-5023.jpg");
    background-blend-mode: saturation;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 7vh;
}

h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2.5vh;
}

h3 {
    font-size: 3vh;
}

p, li {
    font-size: 1.8vh;
    font-weight: 500;
    line-height: 150%;
}

em {
    font-size: 1.8vh;
}

/* Navigation */
#nav {
    animation: 1.5s ease 1 nav-load;
    justify-content: center;
}

.nav-item {
    display: flex;
}

span {
    display: inline-block;
}

#about span:before {
    content:  "Hi";
}

#about:hover span:before {
    display: none;
}

#about:hover span:after {
    content: "About";
    color: crimson;
    margin-left: .3em;
}

#work span:before {
    content:  "I'm";
}

#work:hover span:before {
    display: none;
}

#work:hover span:after {
    content: "Work";
    color: crimson;
    margin-left: 20px;
}

#contact span:before {
    content:  "Eric";
}

#contact:hover span:before {
    display: none;
}

#contact:hover span:after {
    content: "Contact";
    color: crimson;
    margin-left: 20px;
}

/* Text Input & Display */
#input-carrot:hover {
    cursor: default;
}

input {
    border: none;
    background: transparent;
    color: transparent;
    caret-color: transparent;
    height: 7vh;
    width: 10px;
    align-self: flex-start;
}

input:focus {
    outline: none;
}

#display {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    max-height: 30vh;
    max-width: 94%;
    word-wrap: break-word;
    /* overflow-x: scroll; */
}

#cursor {
    animation: cursor-pulse 1.3s infinite;
    animation-timing-function: steps(1);
    height: .8vh;
    width: .6em;
    align-self: flex-end;
    margin-bottom: 12px;
}

#spacer {
    display: inline-block;
    height: 10vh;
    width: 39px;
}

/* Back Button */
.back {
    animation: 2s ease-in 1 content;
    position: absolute;
    top: 5%;
    left: 5%;
}

.back:hover, .back:hover:after {
    color: crimson;
    cursor: pointer;
    content: ".back();";
}

/* Components */
.container {
    height: 100vh;
    width: 50%;
    min-width: 350px;
    overflow: scroll;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container::-webkit-scrollbar {
    height: 0px;
    width: .3em;
}

.container::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 1em;
}

.container::-webkit-scrollbar-thumb:hover {
    background-color: grey;
}

.header {
    margin-top: 12vh;
    margin-bottom: 5%;
}

/* About Component */
#about-header {
    animation: 2s ease 1 about;
}

.about-p {
    font-size: 2vh;
    animation: 2s ease-in 1 content;
}

ul {
    list-style: none;
    padding-left: .5em;
}

#skills {
    animation: 2s ease-in 1 content;
    position: absolute;
    top: 5%;
    right: 4%;
    width: 12%;
    min-width: 90px;
}

/* Work Component */
#work-header {
    animation: 2s ease 1 work;
}

#project-container {
    animation: 2s ease-in 1 content;
}

.projects {
    margin: 0 0 2.75vh 0;
}

.work-link:hover, .contact-link:hover {
    color: crimson;
}

.github-link {
    font-size: 2vh;
    font-weight: 800;
}

.github-img {
    height: 2.7vh;
    margin-left: -.2em;
    margin-bottom: -.3em;
}

/* Contact Component */
#contact-header {
    animation: 2s ease 1 contact;
}

#link-container {
    animation: 2s ease-in 1 content;
    height: 20vh;
    /* width: ; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contact-link {
    font-size: 3vh;
    font-weight: 500;
    margin: 3vh 0;
}

#email-link:before {
    content:  "Email";
}

#email-link:hover:before {
    display: none;
}

#email-link:hover:after {
    content: "Copy to Clipboard";
    color: crimson;
    cursor: pointer;
}

/* Animations */
@keyframes nav-load {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes cursor-pulse {
    50% {
        background-color: black;
    }
}

@keyframes about {
    0% {
        color: crimson;
        transform: translate(.3em, 15vh);
    }
    30% {
        color: crimson;
        transform: translate(0em, 15vh);
    }
    100% {
        color: black;
        transform: translateY(0px);
    }
}

@keyframes work {
    0% {
        color: crimson;
        transform: translate(.4em, 24vh);
    }
    30% {
        color: crimson;
        transform: translate(0em, 24vh);
    }
    100% {
        color: black;
        transform: translateY(0px);
    }
}

@keyframes contact {
    0% {
        color: crimson;
        transform: translate(.4em, 33vh);
    }
    30% {
        color: crimson;
        transform: translate(0em, 33vh);
    }
    100% {
        color: black;
        transform: translateY(0px);
    }
}

@keyframes content {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Media Queries */
@media (max-height: 700px) {
    .about-p {
        font-size: .9em;
    }

    .last {
        margin-bottom: 6em;
    }
}

@media (max-width: 625px) {
    #skills {
        display: none;
    }

    .back {
        position: sticky;
        margin-top: 10%;
        margin-bottom: -10%;
    }

    .container {
        width: 80%;
        min-width: 0px;
        margin-left: 10%;
    }

    .container::-webkit-scrollbar {
        height: 0px;
        width: 0px;
    }
}
